Ponto/PontoWeb/Service References/EnvioEmail/WsEnviaEmail2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnviaEmail" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnviaEmail" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmailRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailRequest" nillable="true" type="tns:EmailRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailRequest" nillable="true" type="tns:ArrayOfEmailRequest" />
  <xs:complexType name="EmailRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arq_Anexo" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Cod_Email_Sistema" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Email_Assunto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Email_Copia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Email_Copia_Oculta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Email_Destino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Email_Remetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Tipo_Anexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Des_Titulo_Remetente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dta_Agendamento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nme_Arquivo_Anexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailRequest" nillable="true" type="tns:EmailRequest" />
</xs:schema>