Ponto/PontoWeb/Service References/EnvioEmail/WsEnviaEmail.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsEnviaEmail" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaEmail.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaEmail.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnviaEmail" />
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaEmail.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEnviaEmail_EnviaEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaEmail" />
  </wsdl:message>
  <wsdl:message name="IEnviaEmail_EnviaEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEnviaEmail_EnviaListEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaListEmail" />
  </wsdl:message>
  <wsdl:message name="IEnviaEmail_EnviaListEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaListEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IEnviaEmail_EnviaEmailArquivo_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaEmailArquivo" />
  </wsdl:message>
  <wsdl:message name="IEnviaEmail_EnviaEmailArquivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaEmailArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="IEnviaEmail_EnviaEmailDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaEmailDataSet" />
  </wsdl:message>
  <wsdl:message name="IEnviaEmail_EnviaEmailDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaEmailDataSetResponse" />
  </wsdl:message>
  <wsdl:portType name="IEnviaEmail">
    <wsdl:operation name="EnviaEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaEmail" message="tns:IEnviaEmail_EnviaEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaEmailResponse" message="tns:IEnviaEmail_EnviaEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaListEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaListEmail" message="tns:IEnviaEmail_EnviaListEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaListEmailResponse" message="tns:IEnviaEmail_EnviaListEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaEmailArquivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaEmailArquivo" message="tns:IEnviaEmail_EnviaEmailArquivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaEmailArquivoResponse" message="tns:IEnviaEmail_EnviaEmailArquivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaEmailDataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaEmailDataSet" message="tns:IEnviaEmail_EnviaEmailDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEnviaEmail/EnviaEmailDataSetResponse" message="tns:IEnviaEmail_EnviaEmailDataSet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEnviaEmail" type="tns:IEnviaEmail">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaEmail">
      <soap:operation soapAction="http://tempuri.org/IEnviaEmail/EnviaEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaListEmail">
      <soap:operation soapAction="http://tempuri.org/IEnviaEmail/EnviaListEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaEmailArquivo">
      <soap:operation soapAction="http://tempuri.org/IEnviaEmail/EnviaEmailArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaEmailDataSet">
      <soap:operation soapAction="http://tempuri.org/IEnviaEmail/EnviaEmailDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsEnviaEmail">
    <wsdl:port name="BasicHttpBinding_IEnviaEmail" binding="tns:BasicHttpBinding_IEnviaEmail">
      <soap:address location="http://wsprdservicoemail.ponteazul.com.br/WsEnviaEmail.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>