Ponto/PontoWeb/Service References/EnviaSms/WsEnviaSms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WsEnviaSms" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaSms.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaSms.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaSms.svc?xsd=xsd2" />
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaSms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EnviaEmail" />
      <xsd:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaSms.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PonteAzul.Services.DAL.Enum" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWsEnviaSms_EnviaSmsPadrao_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSmsPadrao" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSmsPadrao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSmsPadraoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSMSDataSetPadrao_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSMSDataSetPadrao" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSMSDataSetPadrao_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSMSDataSetPadraoResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSMSDataSet_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSMSDataSet" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSMSDataSet_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSMSDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSmsRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSmsRequest" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSmsRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSmsRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSmsListRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSmsListRequest" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_EnviaSmsListRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviaSmsListRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_RecuperarStatusSms_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarStatusSms" />
  </wsdl:message>
  <wsdl:message name="IWsEnviaSms_RecuperarStatusSms_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarStatusSmsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWsEnviaSms">
    <wsdl:operation name="EnviaSmsPadrao">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSmsPadrao" message="tns:IWsEnviaSms_EnviaSmsPadrao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSmsPadraoResponse" message="tns:IWsEnviaSms_EnviaSmsPadrao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaSMSDataSetPadrao">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSMSDataSetPadrao" message="tns:IWsEnviaSms_EnviaSMSDataSetPadrao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSMSDataSetPadraoResponse" message="tns:IWsEnviaSms_EnviaSMSDataSetPadrao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaSMSDataSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSMSDataSet" message="tns:IWsEnviaSms_EnviaSMSDataSet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSMSDataSetResponse" message="tns:IWsEnviaSms_EnviaSMSDataSet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaSmsRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSmsRequest" message="tns:IWsEnviaSms_EnviaSmsRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSmsRequestResponse" message="tns:IWsEnviaSms_EnviaSmsRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnviaSmsListRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSmsListRequest" message="tns:IWsEnviaSms_EnviaSmsListRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnviaSms/EnviaSmsListRequestResponse" message="tns:IWsEnviaSms_EnviaSmsListRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarStatusSms">
      <wsdl:input wsaw:Action="http://tempuri.org/IWsEnviaSms/RecuperarStatusSms" message="tns:IWsEnviaSms_RecuperarStatusSms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWsEnviaSms/RecuperarStatusSmsResponse" message="tns:IWsEnviaSms_RecuperarStatusSms_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWsEnviaSms" type="tns:IWsEnviaSms">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviaSmsPadrao">
      <soap:operation soapAction="http://tempuri.org/IWsEnviaSms/EnviaSmsPadrao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaSMSDataSetPadrao">
      <soap:operation soapAction="http://tempuri.org/IWsEnviaSms/EnviaSMSDataSetPadrao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaSMSDataSet">
      <soap:operation soapAction="http://tempuri.org/IWsEnviaSms/EnviaSMSDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaSmsRequest">
      <soap:operation soapAction="http://tempuri.org/IWsEnviaSms/EnviaSmsRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviaSmsListRequest">
      <soap:operation soapAction="http://tempuri.org/IWsEnviaSms/EnviaSmsListRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarStatusSms">
      <soap:operation soapAction="http://tempuri.org/IWsEnviaSms/RecuperarStatusSms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WsEnviaSms">
    <wsdl:port name="BasicHttpBinding_IWsEnviaSms" binding="tns:BasicHttpBinding_IWsEnviaSms">
      <soap:address location="http://wsprdservicoemail.ponteazul.com.br/WsEnviaSms.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>