Ponto/PontoWeb/Service References/EnviaSms/WsEnviaSms3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaSms.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/EnviaEmail" />
  <xs:element name="EnviaSmsPadrao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seuNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celular" type="xs:long" />
        <xs:element minOccurs="0" name="mensagem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agendamento" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idOrigem" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSmsPadraoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSMSDataSetPadrao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsSms" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSMSDataSetPadraoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSMSDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dsSms" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSMSDataSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSmsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EnviaEmail" minOccurs="0" name="request" nillable="true" type="q1:SmsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSmsRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSmsListRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EnviaEmail" minOccurs="0" name="request" nillable="true" type="q2:ArrayOfSmsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaSmsListRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarStatusSms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seuNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecuperarStatusSmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecuperarStatusSmsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>