Ahgora/ServicoIntegracaoRep/Service References/ServEnvioEmailPonteAzul/WsEnviaEmail1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wsprdservicoemail.ponteazul.com.br/WsEnviaEmail.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EnviaEmail" />
  <xs:element name="EnviaEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_Des_Email_Remetente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Des_Email_Destino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Des_Email_Assunto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Des_Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Nme_Arquivo_Anexo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Arq_Anexo" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="_Des_Titulo_Remetente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Des_Email_Copia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Des_Email_Copia_Oculta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Des_Tipo_Anexo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Cod_Email_Sistema" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="_Dta_Agendamento" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaListEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EnviaEmail" minOccurs="0" name="lstEmail" nillable="true" type="q1:ArrayOfEmailRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaListEmailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaEmailArquivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arquivo" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaEmailArquivoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaEmailDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="arquivo" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviaEmailDataSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>